@page "/"
@inherits HomeBase
@attribute [Authorize]

@using SeatsSelector.Shared.Models.Seats

@if (_isInitialized)
{
    <section class="py-3">

        <div class="container" style="overflow-x: auto;">
            <div class="row justify-content-center" style="min-width: 540px;">
                <div class="col">

                    <!-- Legend -->
                    <ul class="showcase">
                        <li>
                            <div class="seat"></div>
                            <small>Available</small>
                        </li>
                        <li>
                            <div class="seat selected"></div>
                            <small>Me</small>
                        </li>
                        <li>
                            <div class="seat occupied"></div>
                            <small>Occupied</small>
                        </li>
                    </ul>

                    <!-- Room map -->
                    <div class="container">

                        <!-- Screen -->
                        <div class="screen"></div>

                        <!-- Seats -->
                        @for (int row = 0; row < _room.RowCount; row++)
                        {
                            <div class="row justify-content-center">
                                @for (int col = 0; col < _room.ColCount; col++)
                                {
                                    Seat seat = _room.GetSeatAt(row, col);
                                    bool isHidden = (seat == null);
                                    bool isSelected = (!isHidden && seat.UserId == _me.Id);
                                    bool isOccupied = (!isHidden && !isSelected && seat.IsOccupied);

                                    <div class="seat @(isHidden ? "hidden" : "") @(isOccupied ? "occupied" : "") @(isSelected ? "selected" : "")" @onclick="() => Seat_OnClick(seat)"></div>
                                }
                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col">

                        <div class="row justify-content-sm-center mb-3">
                            <div class="col">
                            </div>

                            <div class="col-auto">
                                <button class="btn btn-primary" @onclick="DownloadCsv">Download</button>
                            </div>
                        </div>

                    @foreach (var user in _users.OrderBy(user => user.DisplayName))
                    {
                        <div class="alert @(user.Seat == null ? "alert-light" : "alert-success")">
                            <div class="row justify-content-sm-center">
                                <div class="col-6">
                                    @user.DisplayName
                                </div>

                                <div class="col-6">
                                    @(user.Seat?.Name ?? "--")
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </section>

    <div class="modal @(ErrorModalIsVisible ? "fade show d-block" : "")" style="color: black;" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="ErrorModal_OnClose"></button>
                </div>

                <div class="modal-body">
                    <p>@ErrorMessage</p>
                </div>

                <div class="modal-footer">
                    @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> *@
                    <button type="button" class="btn btn-primary" @onclick="ErrorModal_OnClose">Ok</button>
                </div>

            </div>
        </div>
    </div>

}